<!-- <div class="col-md-2 bg-danger"> -->

    <!-- <button id="sidebarCollapse" class="btn navbar-btn bg-dark">
        <i class="fas fa-lg fa-bars"></i>
    </button> -->

    <div class="wrapper fixed-left">
        <nav id="sidebar">
            <div>
            <div class="sidebar-header">
                <h3>{{'{ Expensable }'}}</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href=""><i class="bi bi-grid"></i>Categories</a>
                </li>
                <li>
                    <a href=""><i class="bi bi-card-list"></i>Transactions</a>
                </li>
                <li>
                    <a href=""><i class="bi bi-piggy-bank"></i> Budgets</a>
                </li>
            </ul>
        </div>


        <div id=container class="sidebar-footer">
            <p>Testino Diprueba</p>
            <p class="correo">yessicaah.9816@gmail.com</p>
            <ul class="list-unstyled components1">
                <li>
                    <a href=""><i class=""></i>Log out</a>
                </li>
            </ul>
        </div>
        </nav>

        <!-- <div id="content">
        </div> -->


    </div>

<!-- </div> -->
